/* .footer .box-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
    

} */

.footer .box-container .boxx h3 {
    font-size: 1.1rem;
    padding: .5rem 0;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.footer .box-container .boxx a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 1rem;
    color: #eeeeee;
    text-decoration: none;

}

.footer .box-container .boxx a i {
    padding-right: .3rem;

}

.footer .box-container .boxx a:hover {
    color: #10b1d0;
    transition: 600ms;
}

.footer .credit {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);

    padding-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
#footer{
    background-color: black;
}